<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930618604476-adubo6tlt4gpbgkkd4m0rf96t932sh5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930618604476-adubo6tlt4gpbgkkd4m0rf96t932sh5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBuhNChRMHBqEyDjnNoejhW15d74Nb8JLk</string>
	<key>GCM_SENDER_ID</key>
	<string>930618604476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamerleontech.opatam</string>
	<key>PROJECT_ID</key>
	<string>opatam-da04b</string>
	<key>STORAGE_BUCKET</key>
	<string>opatam-da04b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930618604476:ios:f985951b8b340db59589b9</string>
</dict>
</plist>